.info {
    display: flex;
    align-items: center;
    justify-content: center;

}

.info__container {
    /* display: flex;
    align-self: center; */
    border: solid #cf9733;
    margin: 80px 80px 90px 90px;
    background: #f4f4f4f4;
}

.info__icon {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.info__iconX {
   color: #cf9733;
}

.info__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.info__titleLineOne{
    font-size: 40px; 
    font-weight: 700;
    color: #cf9733;
}

.info__titleLineTwo{
    font-size: 30px; 
    font-weight: 700;
    color: #000000;
}

.info__titleLineThree{
    font-size: 40px; 
    font-weight: 700;
    color: #cf9733;
}

.info__p {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    padding: 20px 20px 40px;
}

.info__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}