.btn_dark {
    color: white;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border: none;
    padding: 20px;
}

.btn_dark2 {
    color:#cf9733;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border: none;
    padding: 10px;
}

.btn_dark3 {
    color: #000000;
    background: #cf9733 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border-color: #000000;
    padding: 20px;
}

.btn_light {
    color: #ffffff;
    background: #cf9733 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border: none;
    padding: 10px;
}

.btn_light2 {
    color: #ffffff;
    background: #cf9733 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border-color: #000000;
    padding: 10px;
}

.btn_light3 {
    color: #cf9733;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border-color: #cf9733;
    padding: 10px;
}


.bg_dark {
    background: grey;
    color: #ffffff;

}

.bg_light {
    background: #cf9733;
    color: #ffffff;

}